CORS_ORIGIN=http://localhost:3000

# DB
PGHOST=localhost
PGPORT=5432
DB_POOL_MAX=20
DB_IDLE_TIMEOUT=30000
DB_CONN_TIMEOUT=2000

# Upload
UPLOAD_ROOT=/test/upload
UPLOAD_SIZE_LIMIT=10485760 #10*1024*1024=10MiB

# JWT
JWT_PRI_FILENAME=es256_prv.test.pem
JWT_PUB_FILENAME=es256_pub.test.pem
JWT_ISS=jrn;;;auth;integration_test

#VAPID
VAPID_SUBJECT=mailto:integration_test
VAPID_PUB_KEY=BIoGar9cjxoAuF9CkcsVeSt6IGY-tGQtRNHh-uQKF-5S4FE1fqc7eLYUSnfwigWFqDINhcHpc-JCttmvvtZiBoY
VAPID_PRI_KEY=KONT9TjZUvfnL-xPWwhuwvyUZqppUC3YinaNzL9Gx3w
